<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.sacredsf.chef.csrtrigger</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/chef_munki_cert.sh</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <dict>
     <key>PathState</key>
     <dict>
       <key>/etc/ssl/munki2.sacredsf.org.csr</key>
       <true/>
     </dict>
  </dict>
  <key>StandardOutPath</key>
  <string>/var/log/chef_csrtrigger.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/chef_csrtrigger.log</string>
</dict>
</plist>